<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/chevrolet.css" rel="stylesheet">



    <title>Document</title>
</head>

<body>
    <header>
        <div class="navegador">
            <a href="/">LOGO</a>

            <nav>

                <ul>
                    <li><a href="/Vehiculos">Vehiculos</a></li>
                    <li><a href="#">Comprar</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Mi cuenta</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <main>

        <section>
            <div class="navAutos">
                <div class="autos">
                    <a href="AutosChevrolet">
                        <h3>Autos</h3>
                    </a>

                </div>
                <div class="suv">
                    <a href="SUVsChevrolet">
                        <h3 class="letra">SUVs</h3>
                    </a>


                </div>
                <div class="pickups">
                    <a href="PickupsChevrolet"><h3>Pick Ups</h3></a>
                    

                </div>
                <div class="deportivos">
                    <a href="DeportivosChevrolet"><h3>Deportivos</h3></a>
                    

                </div>

            </div>
        </section>
        <section>
            <div class="recuadroG">

                <article>
                    <a href="/views/chevrolet.html"><img src="/imagenes/Chevrolet/AUTOS/Nuevo Cruze RS.jpg"
                            alt="CruzeRs" class="vehiculo"></a>

                    <div class="articulo">
                        <h4 class="description">CRUZE RS</h4>
                    </div>


                </article>


                <article>

                    <img src="/imagenes/Chevrolet/AUTOS/Cruze.jpg" alt="Cruze" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">CRUZE</h4>
                    </div>


                </article>

                <article>

                    <img src="/imagenes/Chevrolet/AUTOS/Cruze5.jpg" alt="Cruze5" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">CRUZE 5</h4>
                    </div>


                </article>

                <article>

                    <img src="/imagenes/Chevrolet/AUTOS/Joy.jpg" alt="JOY" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">JOY</h4>
                    </div>


                </article>

                <article>

                    <img src="/imagenes/Chevrolet/AUTOS/Onix.jpg" alt="Onix" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">ONIX</h4>
                    </div>


                </article>

                <article>

                    <img src="/imagenes/Chevrolet/AUTOS/OnixPlus.jpg" alt="OnixPlus" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">ONIX PLUS</h4>
                    </div>


                </article>

                <article>

                    <img src="/imagenes/Chevrolet/AUTOS/Joyplus.jpg" alt="Joyplus" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">JOY PLUS</h4>

                    </div>

                </article>


            </div>
        </section>

</body>

</html>