<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/Vehiculos.css" rel="stylesheet">
    <link href="css/AutosChevrolet.css" rel="stylesheet">

    <title>Vehiculos</title>
</head>

<body>
    <header>
        <div class="navegador">
            <a href="/"><img src="">LOGO</a>

            <nav>

                <ul>
                    <li><a href="/Vehiculos">Vehiculos</a></li>
                    <li><a href="#">Comprar</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Mi cuenta</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <main>
        <section>
            <div class="navAutos">
                <div class="autos">
                    <a href="AutosChevrolet">
                        <h3>Autos</h3>
                    </a>

                </div>
                <div class="suv">
                    <a href="SUVsChevrolet">
                        <h3 class="letra">SUVs</h3>
                    </a>


                </div>
                <div class="pickups">
                    <a href="PickupsChevrolet">
                        <h3>Pick Ups</h3>
                    </a>


                </div>
                <div class="deportivos">
                    <a href="DeportivosChevrolet">
                        <h3>Deportivos</h3>
                    </a>


                </div>

            </div>
        </section>

        <section>
            <div class="recuadroG">


                
                <article class="card">

                    <img src="/imagenes/Chevrolet/Deportivos/Camaro.jpg" alt="Camaro" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">CAMARO COUPÉ</h4>
                    </div>


                </article>

                <article class="card">

                    <img src="/imagenes/Chevrolet/Deportivos/CamaroCon.jpg" alt="CamaroCon" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">CAMARO CONVERTIBLE</h4>
                    </div>


                </article>



            </div>




        </section>
    </main>

    <footer>

        <div class="fondoPie">

            <section class="piePagina">
                <article class="art">
                    <h2>Todos los Vehiculos</h2>
                    <ul>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">SUVs</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Pick-ups</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Utilitarios</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Autos</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Futuros Vehiculos</a></li>
                    </ul>

                </article>



                <article class="art">
                    <h2>Posventa</h2>
                    <ul>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Mantenimientos programados</a>
                        </li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Accesorios</a></li>

                    </ul>
                </article>




                <article class="art">
                    <h2>Herramientas</h2>
                    <ul>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Concesionarios</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Contacto</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Agenda un Test Drive</a></li>

                    </ul>
                </article>



                <article class="art">
                    <h2>Ayuda</h2>
                    <ul>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Politica de privacidad</a>
                        </li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Mapa del sitio</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Contacto</a></li>

                    </ul>
                </article>

            </section>

        </div>

    </footer>





</body>

</html>