<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link href="css/home.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8f05d76f5e.js" crossorigin="anonymous"></script>


    <title>Proyecto</title>
</head>

<body>
    <header>
        <div class="navegador">
            <div class="logo">
            <img class="logopagina" src="/imagenes/FZ LOGO - SIN FONDO-01.png">
            </div> 
            <nav>

                <ul>
                    <li><a class="lista1" href="/Vehiculos">Vehiculos</a></li>
                    <li><a class="lista2" href="#">Comprar</a></li>
                    <li><a class="lista3"  href="#">Nosotros</a></li>
                    <li><a class="lista4" href="#">Mi cuenta  <i class="fa-solid fa-circle-user"></i> </a></li>
                </ul>
            </nav>
        </div>

    </header>

    <section>

        </div>

    
        <div class="content-portada">
           <img src="/imagenes/fotoford.jpg" alt="portada"> 
            <!--  <img class="portada" src="/imagenes/fondoCelular.jpg" alt="portada" >-->
            
        </div>

    </section>

    <section>
        <article class="textHome">

            <h2>6 Razones para comprar un auto (MARCA)</h2>

        </article>
    </section>

    <section class="carrusel-home">

        <article class="imagenesHome">

            <img src="/imagenes/fotohome1.jpg" alt="Titulo del producto">
            <img src="/imagenes/fotohome2.jpg" alt="Titulo del producto">
            <img src="/imagenes/fotohome3.jpg" alt="Titulo del producto">
            <img src="/imagenes/fotohome4.jpg" alt="Titulo del producto">
            <img src="/imagenes/fotohome5.jpg" alt="Titulo del producto">
            <img src="/imagenes/fotohome6.jpg" alt="Titulo del producto">




        </article>

    </section>

    <section class="botoncomprar">
        <article class="Compra">
            <div class="textoC">
                <a style="color:white;  text-decoration: none;"  href="/Vehiculos"><h3>COMPRA UN AUTO</h3></a>
            </div>

        </article>
    </section>


    <footer>

        <div class="fondoPie">

            <section class="piePagina">
                <article class="art">
                    <h2>Todos los Vehiculos</h2>
                    <ul class="lista">
                        <li><a  style="color:whitesmoke;  text-decoration: none;" href="#">SUVs</a></li>
                        <li><a  style="color:whitesmoke;  text-decoration: none;" href="#">Pick-ups</a></li>
                        <li><a  style="color:whitesmoke;  text-decoration: none;" href="#">Utilitarios</a></li>
                        <li><a  style="color:whitesmoke;  text-decoration: none;" href="#">Autos</a></li>
                        <li><a  style="color:whitesmoke;  text-decoration: none;" href="#">Futuros Vehiculos</a></li>
                    </ul>

                </article>



                <article class="art">
                    <h2>Posventa</h2>
                    <ul class="lista">
                        <li><a   style="color:whitesmoke;  text-decoration: none;" href="#">Mantenimientos programados</a></li>
                        <li><a   style="color:whitesmoke;  text-decoration: none;" href="#">Accesorios</a></li>

                    </ul>
                </article>




                <article class="art">
                    <h2>Herramientas</h2>
                    <ul class="lista">
                        <li><a   style="color:whitesmoke;  text-decoration: none;" href="#">Concesionarios</a></li>
                        <li><a  style="color:whitesmoke;  text-decoration: none;" href="#">Contacto</a></li>
                        <li><a  style="color:whitesmoke;  text-decoration: none;" href="#">Agenda un Test Drive</a></li>

                    </ul>
                </article>



                <article class="art">
                    <h2>Ayuda</h2>
                    <ul class="lista">
                        <li><a  style="color:whitesmoke;  text-decoration: none;" href="#">Politica de privacidad</a></li>
                        <li><a  style="color:whitesmoke;  text-decoration: none;" href="#">Mapa del sitio</a></li>
                        <li><a  style="color:whitesmoke;  text-decoration: none;" href="#">Contacto</a></li>

                    </ul>
                </article>

            </section>

        </div>

    </footer>





</body>
 
</html>

<button type="reset"></button>