<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/Vehiculos.css" rel="stylesheet">
    <title>Vehiculos</title>
</head>

<body>
    <header>
        <div class="navegador">
            <div class="logo">
                <img class="logopagina" src="/imagenes/FZ LOGO - SIN FONDO-01.png">
                </div> 
            <nav>

                <ul>
                    <li><a href="/Vehiculos">Vehiculos</a></li>
                    <li><a href="#">Comprar</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Mi cuenta</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <main>
        <section>
            <div class="navAutos">
                
                <div class="ford">
                    <a href="Ford">
                        <h3>Ford</h3>
                    </a>
                </div>

                <div class="chevrolet">
                    <a href="chevrolet">
                        <h3>Chevrolet</h3>
                    </a>
                </div>

                <div class="Volkswagen">
                    <a href="volkswagen">
                        <h3>Volkswagen</h3>
                    </a>
                </div>

                <div class="Jeep">
                    <a href="jeep">
                        <h3>Jeep</h3>
                    </a>

                </div>

            </div>
        </section>

        <section>
            <div class="recuadroG">

                <article>
                    <a href=""><img src="/imagenes/Chevrolet/AUTOS/Nuevo Cruze RS.jpg" alt="CruzeRs"
                            class="vehiculo"></a>

                    <div class="articulo">
                        <h4 class="description">CRUZE RS</h4>
                    </div>


                </article>


                <article>

                    <img src="/imagenes/Chevrolet/AUTOS/Cruze.jpg" alt="Cruze" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">CRUZE</h4>
                    </div>


                </article>

                <article>

                    <img src="/imagenes/Chevrolet/AUTOS/Cruze5.jpg" alt="Cruze5" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">CRUZE 5</h4>
                    </div>


                </article>

                <article>

                    <img src="/imagenes/Chevrolet/AUTOS/Joy.jpg" alt="JOY" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">JOY</h4>
                    </div>


                </article>

                <article>

                    <img src="/imagenes/Chevrolet/AUTOS/Onix.jpg" alt="Onix" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">ONIX</h4>
                    </div>


                </article>

                <article>

                    <img src="/imagenes/Chevrolet/AUTOS/OnixPlus.jpg" alt="OnixPlus" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">ONIX PLUS</h4>
                    </div>


                </article>

                <article>

                    <img src="/imagenes/Chevrolet/AUTOS/Joyplus.jpg" alt="Joyplus" class="vehiculo">
                    <div class="articulo">
                        <h4 class="description">JOY PLUS</h4>

                    </div>

                </article>


            </div>




        </section>
    </main>

    <footer>

        <div class="fondoPie">

            <section class="piePagina">
                <article class="art">
                    <h2>Todos los Vehiculos</h2>
                    <ul>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">SUVs</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Pick-ups</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Utilitarios</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Autos</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Futuros Vehiculos</a></li>
                    </ul>

                </article>



                <article class="art">
                    <h2>Posventa</h2>
                    <ul>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Mantenimientos programados</a>
                        </li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Accesorios</a></li>

                    </ul>
                </article>




                <article class="art">
                    <h2>Herramientas</h2>
                    <ul>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Concesionarios</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Contacto</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Agenda un Test Drive</a></li>

                    </ul>
                </article>



                <article class="art">
                    <h2>Ayuda</h2>
                    <ul>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Politica de privacidad</a>
                        </li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Mapa del sitio</a></li>
                        <li><a style="color:whitesmoke;  text-decoration: none;" href="#">Contacto</a></li>

                    </ul>
                </article>

            </section>

        </div>

    </footer>





</body>

</html>



<!-- <section>
    <div class="navegadorAutos">
       

        <nav>
             <ul>
                <li class="autos"><a href="/chevrolet">Autos</a></li>
                <li class="suv"><a href="#">SUVs</a></li>
                <li class="pickups"><a href="#">Pick Ups</a></li>
                <li class="deportivos"><a href="#">Deportivos</a></li>
            </ul>
        </nav>
    </div>
</section> -->